<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz</title>

  <li class="nav-item"> 
    <form action="/sign_in" method="POST" class="form-inline">
      <input type="text" name="username" placeholder="Enter your username..." class="form-control mr-2" />      
      <button class="btn btn-outline-dark" type="submit">Sign In</button>
    </form>
  </li>
</head>
<body>