<%- include("./partials/header.ejs") %> 
    <h1>Welcome</h1>
    <img
      class="images" 
      src="/images/imag_1.jpg"
      height="70px"
      alt="imag"
    />
<%- include("./partials/footer.ejs") %> 